<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4 class="page-title">Configuración de Perfil</h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="settings-wrapper d-flex">
          <div class="settings-page-wrap">
            <form>
              <div class="card-title-head">
                <h6><span><i class="feather icon-user feather-chevron-up"></i></span>Información del Empleado</h6>
              </div>
              <div class="profile-pic-upload px-3">
                <div class="profile-pic">
                  <span><i class="feather icon-plus-circle plus-down-add"></i> Foto de Perfil</span>
                </div>
                <div class="new-employee-field">
                  <div class="mb-0">
                    <div class="image-upload mb-0">
                      <input type="file">
                      <div class="image-uploads">
                        <h4>Cambiar Imagen</h4>
                      </div>
                    </div>
                    <span>Para mejor vista previa, el tamaño recomendado es 450px x 450px. Tamaño máximo 5MB.</span>
                  </div>
                </div>
              </div>
              <div class="row px-3">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Nombre de Usuario</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Número de Teléfono</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="text-end settings-bottom-btn">
                <button type="button" class="btn btn-cancel me-2">Cancelar</button>
                <!-- <button type="button" class="btn btn-submit">Guardar Cambios</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
