<!--  BEGIN MAIN CONTAINER  -->
<div class="wrapper">
  <!--  BEGIN SIDEBAR  -->
  <!-- <app-sidebar-one></app-sidebar-one> -->
  <!--  END SIDEBAR  -->

  <!-- CONTENT AREA -->
  <div class="content-page">
    <div class="content">

      <!--  BEGIN NAVBAR  -->
<!--      <app-header></app-header>-->
      <!--  END NAVBAR  -->
<!--      <router-outlet></router-outlet>-->

    </div>

    <!-- CONTENT AREA -->

<!--    <app-footer></app-footer>-->
    <!--  END CONTENT AREA  -->
  </div>
</div>
